# Base URL for the UGEL and credits API
VITE_UGEL_API_URL=https://backcall.jamuywasi.com

# Base URL for the WhatsApp checking API
VITE_WHATSAPP_API_URL=https://verifywsp.jamuywasi.com

# Base URL for Credit API
VITE_CREDIT_API_URL=https://gnsis-api.jamuywasi.com
